@tailwind base;
@tailwind components;
@tailwind utilities;
/* #31393c, #2176ff, #33a1fd, #fdca40, #f79824 */
/* #31393c, #2176ff, #33a1fd, #fdca40, #f79824 */

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }
 @layer components {
  .input-field {
    @apply m-2 border-b-2 focus:outline-teal-300 focus:border-none focus:outline-none focus:ring-transparent border-teal-300 rounded-xl
  }
  .btn-field {
    @apply border-2 rounded-lg border-teal-300 text-slate-500 hover:bg-gradient-to-r from-teal-400 to-teal-200 hover:shadow-lg hover:text-white
  }
 }